TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
s="my name is vishal"

In [2]:
s[::-1]

'lahsiv si eman ym'

2. Check if a string is a palindrome.

In [16]:
def is_palindrome(s):
    s = s.replace(" ", "").lower()
    return s == s[::-1]

In [17]:
string = input("Enter a string: ")
if is_palindrome(string):
    print("The input string is a palindrome.")
else:
    print("The input string is not a palindrome.")

Enter a string:  abcba

The input string is a palindrome.

3. Convert a string to uppercase.

In [18]:
a="my name is vishal karhad"

In [19]:
a.upper()

'MY NAME IS VISHAL KARHAD'

4. Convert a string to lowercase.

In [20]:
a.lower()

'my name is vishal karhad'

5. Count the number of vowels in a string.

In [22]:
def count_vowels(string):
    vowels = set("aeiou")
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

In [23]:
input_string = input("Enter a string: ")
num_vowels = count_vowels(input_string)
print(f"The number of vowels in the input string is: {num_vowels}")

Enter a string:  vishal

The number of vowels in the input string is: 2

6. Count the number of consonants in a string.

In [24]:
def count_consonants(string):
    vowels = set("aeiouAEIOU")
    count = 0
    for char in string:
        if char.isalpha() and char not in vowels:
            count += 1
    return count

In [25]:
input_string = input("Enter a string: ")
num_consonants = count_consonants(input_string)
print(f"The number of consonants in the input string is: {num_consonants}")

Enter a string:  vishal

The number of consonants in the input string is: 4

7. Remove all whitespaces from a string.

In [26]:
string1='Remove all whitespaces from a string'

In [29]:
string1.replace(" ","")

'Removeallwhitespacesfromastring'

8. Find the length of a string without using the `len()` function.

In [31]:
def string_length(input_string):
    count = 0
    for char in input_string:
        count += 1
    return count

In [32]:
input_string = input("Enter a string: ")
length = string_length(input_string)
print("Length of the string:", length)

Enter a string:  vishal

Length of the string: 6

9. Check if a string contains a specific word.

In [1]:
string= "Check if a string contains a specific word"
check_word="word"

In [3]:
if check_word in string:
    print(f"The word'{check_word}'is presnt in the sring")
else:
     print(f"the word'{check_word}' is not present in the string")

The word'word'is presnt in the sring

10. Replace a word in a string with another word.

In [4]:
original_string="Replace a word in a string with another word"

In [5]:
new_string=original_string.replace("word","term")

In [6]:
new_string

'Replace a term in a string with another term'

11. Count the occurrences of a word in a string.

In [7]:
string="This is a sample sentence. It contains a word. The word appears multiple times in the sentence."

In [8]:
word_to_count=input("Enter the word that you count")

Enter the word that you count word

In [9]:
count=string.count(word_to_count)

In [10]:
print(f"The word'{word_to_count}' apperes {count} times in the string")

The word'word' apperes 2 times in the string

12. Find the first occurrence of a word in a string.

In [11]:
string="This is a sample sentence. It contains a word. The word appears multiple times in the sentence."
word_to_find="word"

In [12]:
index=string.find(word_to_find)

In [13]:
index

41

13. Find the last occurrence of a word in a string.

In [14]:
last_index=string.rfind(word_to_find)

In [15]:
last_index

51

14. Split a string into a list of words.

In [16]:
string="apple,banana,cherry,date"

In [17]:
word_list=string.split(',')

In [18]:
word_list

['apple', 'banana', 'cherry', 'date']

15. Join a list of words into a string.

In [19]:
word_list=['Apple','Banana','Cherry','Date']
result_string=','.join(word_list)

In [20]:
result_string

'Apple,Banana,Cherry,Date'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [23]:
original_string="this is a sample string with spasces between word"
modified_string=original_string.replace(" ","_")

In [24]:
modified_string

'this_is_a_sample_string_with_spasces_between_word'

17. Check if a string starts with a specific word or phrase.

In [25]:
original_string = "This is a sample string. It starts with 'This'."

In [26]:
word_to_check = "This"

In [27]:
if original_string.startswith(word_to_check):
    print(f"The string starts with '{word_to_check}'.")
else:
    print(f"The string does not start with '{word_to_check}'.")

The string starts with 'This'.

18. Check if a string ends with a specific word or phrase.

In [28]:
original_string = "This is a sample string. It ends with 'phrase'."
word_to_check = "phrase"

In [29]:
if original_string.endswith(word_to_check):
    print(f"The string ends with '{word_to_check}'.")
else:
    print(f"The string does not end with '{word_to_check}'.")

The string does not end with 'phrase'.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [36]:
original_string = "hello world"

In [37]:
title_case_string = original_string.title()

In [38]:
title_case_string

'Hello World'

20. Find the longest word in a string.

In [39]:
str = input("Enter a String: ")

Enter a String:  this is longest string in the sentence

In [40]:
word_list = str.split()

In [48]:
longest_word = max(word_list, key = len)

In [49]:
print("Longest word: ",longest_word)

Longest word:  sentence

21. Find the shortest word in a string.

In [50]:
str = "this is a shortest string in this sentence"

In [51]:
word_list=str.split()

In [52]:
short_word=min(word_list, key = len)

In [53]:
short_word

'a'

22. Reverse the order of words in a string.

In [54]:
original_string=" this is a sample string with word in reverse order"

In [55]:
word=original_string.split()

In [57]:
reverse_word=word[::-1]

In [59]:
reverse_string = ' '.join(reverse_word)

In [62]:
reverse_string

'order reverse in word with string sample a is this'

23. Check if a string is alphanumeric.

In [63]:
input_string = "Hello123"

In [68]:
if input_string.isalnum():
    print("the string",input_string,"is alphanumeric")
else:
    print("the string",input_string ," is not alphanumeric")

the string Hello123 is alphanumeric

24. Extract all digits from a string.

In [1]:
def extract_digits(input_string):
    extracted_digits = ""
    for char in input_string:
        if char.isdigit():
            extracted_digits += char
    return extracted_digits

In [2]:
input_string = "Hello123, how are you? 4567!"
digits = extract_digits(input_string)

print(f"The extracted digits are: {digits}")

The extracted digits are: 1234567

25. Extract all alphabets from a string.

In [3]:
def extract_alphabets(input_string):
    extracted_alphabets = ""
    for char in input_string:
        if char.isalpha():
            extracted_alphabets += char
    return extracted_alphabets

In [5]:
input_string = "Hello123, how are you? ABCD!"
alphabets = extract_alphabets(input_string)
print(f"The extracted alphabets are: {alphabets}")

The extracted alphabets are: HellohowareyouABCD

26. Count the number of uppercase letters in a string.

In [22]:
input_string = "Hello VisHal KArhaD"

In [23]:
 uppercase_count = 0

In [24]:
for char in input_string:
        if char.isupper():
             uppercase_count += 1

In [31]:
print("The number of uppercase Letterr in the string is",uppercase_count)

The number of uppercase Letterr in the string is 6

27. Count the number of lowercase letters in a string.

In [32]:
input_string= "My NAme Is VishaL KArhad"

In [33]:
lowwercase_count=0

In [34]:
for char in input_string:
    if char.islower():
        lowwercase_count +=1

In [35]:
print("The number of lowerrcase Letterr in the string is",lowwercase_count)

The number of lowerrcase Letterr in the string is 12

28. Swap the case of each character in a string.

In [36]:
original_string="Hello, WoRLd 123"

In [37]:
swapped_string = original_string.swapcase()

In [38]:
print(swapped_string)

hELLO, wOrlD 123

29. Remove a specific word from a string.

In [39]:
original_string = "This is a sample sentence. It contains a word that we want to remove."

In [41]:
word_to_remove=input("Enter the word")

Enter the word word

In [42]:
new_string = original_string.replace(word_to_remove,"")

In [43]:
print(new_string)

This is a sample sentence. It contains a  that we want to remove.

30. Check if a string is a valid email address.

In [44]:
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

31. Extract the username from an email address string.

In [45]:
email=input("Enter your Email id")

Enter your Email id vishalkarhad199@gmail.com

In [46]:
username=email.split('@')[0]

In [48]:
print("Your username name is :",username)

Your username name is : vishalkarhad199

32. Extract the domain name from an email address string.

In [49]:
email="pwskill@yahoo.com"

In [51]:
domain_name=email.split('@')[1]

In [52]:
print("Your domain name is : ",domain_name)

Your domain name is :  yahoo.com

33. Replace multiple spaces in a string with a single space.

In [53]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split()) 
    return cleaned_string

In [54]:
input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

34. Check if a string is a valid URL.

In [56]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False


url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  
print(result2)

True
False

35. Extract the protocol (http or https) from a URL string.

In [57]:
from urllib.parse import urlparse

def extract_protocol(url):
    result = urlparse(url)
    if result.scheme:
        return result.scheme
    else:
        return "No protocol specified"

# Example URLs to test
urls = ["http://www.example.com", "https://example.com", "ftp://example.com", "invalid-url", "www.example.com"]

for url in urls:
    protocol = extract_protocol(url)
    print(f"The protocol in {url} is: {protocol}")

The protocol in http://www.example.com is: http
The protocol in https://example.com is: https
The protocol in ftp://example.com is: ftp
The protocol in invalid-url is: No protocol specified
The protocol in www.example.com is: No protocol specified

36. Find the frequency of each character in a string.

In [1]:
def character_frequency(input_string):
    frequency = {}  

    for char in input_string:
        if char in frequency:
            frequency[char] += 1 
        else:
            frequency[char] = 1  

    return frequency

In [2]:
input_str = "hello world"
char_freq = character_frequency(input_str)
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

37. Remove all punctuation from a string.

In [1]:
def remove_punctuation(input_string):
    punctuation = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    cleaned_string = ""
    for char in input_string:
        if char not in punctuation:
            cleaned_string += char
    return cleaned_string

In [2]:
input_string = "Hello, World! This is an example string."
cleaned_string = remove_punctuation(input_string)
print(cleaned_string)

Hello World This is an example string

38. Check if a string contains only digits.

In [3]:
string=input("Enter your string Here..!")

Enter your string Here..! Hello2345

In [17]:
for char in string:
    if not char.isdigit():
        print("Your String contain only digit")
        break
    else:
        print("your string contain only word")
        break

Your String contain digit

39. Check if a string contains only alphabets

In [18]:
string=input("Enter your string Here..!")

Enter your string Here..! vishal

In [16]:
for char in string:
    if char.isalpha():
        print("Your STring contain only alphabhet")
        break
    else:
        print("your string contain not only alphabhet")
        break

Your STring contain only alphabhet

40. Convert a string to a list of characters.

In [19]:
string = "my namae is vishal"

In [30]:
list1= list(string)

In [31]:
print(list1,end=' ')

['m', 'y', ' ', 'n', 'a', 'm', 'a', 'e', ' ', 'i', 's', ' ', 'v', 'i', 's', 'h', 'a', 'l']

41. Check if two strings are anagrams.

In [32]:
str1=input("Enter your first word :")
str2=input("Enter your second word Here :")

Enter your first word : listen
Enter your second word Here : silent

In [34]:
str1=str1.replace(" ","").lower()
str2=str2.replace(" ","").lower()

In [37]:
if len(str1) != len(str2):
    print(" False")
else:
    sorted(str1)==sorted(str2)
    print("True")

True

42. Encode a string using a Caesar cipher.

In [38]:
def caesar_cipher_encode(input_string, shift):
    encoded_string = ""

    for char in input_string:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            shifted = ord(char) + shift - ord('a')
            shifted %= 26
            shifted_char = chr(shifted + ord('a'))
            if is_upper:
                shifted_char = shifted_char.upper()
            encoded_string += shifted_char
        else:
            encoded_string += char

    return encoded_string

In [39]:
input_string = "Hello, World!"
shift = 3
encoded_string = caesar_cipher_encode(input_string, shift)
print(encoded_string)

Khoor, Zruog!

43. Decode a Caesar cipher encoded string.

In [40]:
def caesar_cipher_decode(encoded_string, shift):
    decoded_string = ""

    for char in encoded_string:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            shifted = ord(char) - shift - ord('a')
            shifted %= 26
            shifted_char = chr(shifted + ord('a'))
            if is_upper:
                shifted_char = shifted_char.upper()
            decoded_string += shifted_char
        else:
            decoded_string += char

    return decoded_string

In [41]:
encoded_string = "Khoor, Zruog!"
shift = 3
decoded_string = caesar_cipher_decode(encoded_string, shift)
print(decoded_string)

Hello, World!

44. Find the most frequent word in a string.

In [42]:
str1="This is a test. This is only a test. Test, test, 1, 2, 3."

In [45]:
words=str1.split()

In [46]:
word_freq={}

In [48]:
for word in words:
    word = word.strip(".,!?\"'")
    word=word.lower()
    if word:
        if word in word_freq:
            word_freq[word] +=1
        else:
            word_freq[word]=1
most_freq= max(word_freq,key=word_freq.get)

In [49]:
most_freq

'test'

45. Find all unique words in a string

In [69]:
def find_unique_words(input_string):
    words = input_string.split()
    unique_words = set()

    for word in words:
        word = word.strip(".,!?\"'").lower()
        if word:
            unique_words.add(word)
    return list(unique_words)

In [70]:
input_string = "This is a test. This is only a test. Test, test, 1, 2, 3."
unique_words = find_unique_words(input_string)
print("Unique words in the string:")
for word in unique_words:
    print(word)

Unique words in the string:
3
a
this
only
test
1
2
is

46. Count the number of syllables in a string

In [71]:
def count_syllables(word):
    # Remove common suffixes that do not contribute to syllable count
    word = word.lower().rstrip('.,!?":;')

    # Define a list of common prefixes and suffixes
    prefixes = ["re", "un", "pre", "dis", "mis", "sub", "in", "non"]
    suffixes = ["es", "ed", "er", "ly", "ing", "less"]

    # Initialize the syllable count
    syllable_count = 0

    # Count vowel sequences (not perfect, but works for many cases)
    is_previous_vowel = False
    for char in word:
        if char in "aeiouy":
            if not is_previous_vowel:
                syllable_count += 1
            is_previous_vowel = True
        else:
            is_previous_vowel = False

    # Adjust the count based on prefixes and suffixes
    for prefix in prefixes:
        if word.startswith(prefix):
            syllable_count -= 1
    for suffix in suffixes:
        if word.endswith(suffix):
            syllable_count -= 1

    # Ensure at least one syllable
    if syllable_count == 0:
        syllable_count = 1

    return syllable_count

# Example usage:
input_string = "Hello, World! This is an example sentence."
words = input_string.split()
total_syllables = sum(count_syllables(word) for word in words)
print(f"Total syllables in the string: {total_syllables}")

Total syllables in the string: 12

47. Check if a string contains any special characters.

In [72]:
def contains_special_characters(input_string):
    acceptable_characters = set("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789,.!?-")
    for char in input_string:
        if char not in acceptable_characters:
            return True

    return False

In [74]:

input_string1 = "Hello, World!"
input_string2 = "This is a sample string with @#$ special characters."

print(contains_special_characters(input_string1))

True

48. Remove the nth word from a string.

In [75]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if the specified position is valid
    if 1 <= n <= len(words):
        # Remove the nth word (adjust for 0-based index)
        words.pop(n - 1)

        # Join the remaining words back together
        updated_string = " ".join(words)

        return updated_string
    else:
        # Invalid position, return the original string
        return input_string

# Example usage:
input_string = "This is a sample sentence to remove a word from."

n = 3  # Remove the 3rd word (word "a")
updated_string = remove_nth_word(input_string, n)
print(updated_string)  # Output: "This is sample sentence to remove word from."

This is sample sentence to remove a word from.

49. Insert a word at the nth position in a string

In [76]:
def insert_word_at_position(input_string, word_to_insert, n):
    # Split the input string into words
    words = input_string.split()

    # Check if the specified position is valid
    if 0 <= n <= len(words):
        # Insert the word at the specified position
        words.insert(n, word_to_insert)

        # Join the words back together
        updated_string = " ".join(words)

        return updated_string
    else:
        # Invalid position, return the original string
        return input_string

# Example usage:
input_string = "This is a sample sentence to insert into."

word_to_insert = "new"
n = 3  # Insert the word at the 3rd position
updated_string = insert_word_at_position(input_string, word_to_insert, n)
print(updated_string)  # Output: "This is a new sample sentence to insert into."

This is a new sample sentence to insert into.

50. Convert a CSV string to a list of lists.

In [77]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')
    
    # Initialize a list to store the result
    result = []
    
    # Split each line into fields and append them as lists
    for line in lines:
        fields = line.split(',')
        result.append(fields)
    
    return result

# Example usage:
csv_string = "1,John,Smith\n2,Jane,Doe\n3,Robert,Johnson"
csv_list = csv_string_to_list(csv_string)

for row in csv_list:
    print(row)

['1', 'John', 'Smith']
['2', 'Jane', 'Doe']
['3', 'Robert', 'Johnson']

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [37]:
list1=[i for i in range(1,10)]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2. Find the length of a list without using the `len()` function.

In [38]:
list2=[1,2,3,4,5]
count =0
for _ in list2:
    count+=1

In [39]:
count

5

3. Append an element to the end of a list.

In [41]:
list3 = [10,20,30,40]
list3.append(50)

In [42]:
print(list3)

[10, 20, 30, 40, 50]

4. Insert an element at a specific index in a list.

In [43]:
list4=['a','b','c','d']

In [44]:
list4.insert(4,'e')

In [45]:
list4

['a', 'b', 'c', 'd', 'e']

5. Remove an element from a list by its value

In [46]:
list5=[1,2,3,4,5,6]

In [47]:
list5.remove(6)

In [48]:
list5

[1, 2, 3, 4, 5]

6. Remove an element from a list by its index.

In [49]:
list6=[10,20,30,40]
list6.pop(2)
list6

[10, 20, 40]

7. Check if an element exists in a list.

In [50]:
list7=['apple','banana','cherry','date']

In [51]:
check= 'date'

In [52]:
if check in list7:
    print ("list containing element")
else:
    print("list does not contain any element")

list containing element

8. Find the index of the first occurrence of an element in a list

In [53]:
list8=[1,2,3,4,5]
element_check=5
index=list8.index(element_check)
print(f"the element {element_check} is index is {index}")

the element 5 is index is 4

9. Count the occurrences of an element in a list.

In [54]:
list9=[1,2,3,1,5,1,3,4,5,6,2,4,5,7,2,1,3,5,4,56,2,54,2,13,2,1]
count_the_occurrences=1
count=list9.count(count_the_occurrences)
print(f"{count_the_occurrences} is present {count} time")

1 is present 5 time

10. Reverse the order of elements in a list.

In [56]:
list10=[10,20,30,40,50,60]
revers=list10.reverse()
print(list10)

[60, 50, 40, 30, 20, 10]

11. Sort a list in ascending order.

In [57]:
list11=[5,6,7,32,7,3,0,9,1,3,8]
list11.sort()
list11

[0, 1, 3, 3, 5, 6, 7, 7, 8, 9, 32]

12. Sort a list in descending order.

In [58]:
list12 = ['s','g','q','f','a','c']
list12.sort(reverse=True)
list12

['s', 'q', 'g', 'f', 'c', 'a']

13. Create a list of even numbers from 1 to 20.

In [59]:
list13=[x for x in  range(2,20,2)]
list13

[2, 4, 6, 8, 10, 12, 14, 16, 18]

14. Create a list of odd numbers from 1 to 20.

In [60]:
list14=[x for x in range(1,20,2)]
list14

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list

In [61]:
list15=[2,4,1,3,5,6,7]
count=0
for x in list15:
    count+=x
print(count)

28

16. Find the maximum value in a list

In [2]:
ori_list = [2, 4, 1, 3, 5, 6, 7, 8]
max_list = max(ori_list)
max_list

8

17. Find the minimum value in a list.

In [3]:
list17 = [10, 20, 30, 40, 50]
min=min(list17)
min

10

18. Create a list of squares of numbers from 1 to 10

In [4]:
list18=[x**2 for x in range(1,10)]
list18

[1, 4, 9, 16, 25, 36, 49, 64, 81]

19. Create a list of random numbers.

In [18]:
import random

In [26]:
random_numbers = [random.randint(1,100) for _ in range(10)]

print(random_numbers)

[11, 16, 80, 31, 96, 70, 20, 69, 86, 9]

20. Remove duplicates from a list

In [6]:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(original_list))
print(unique_list)

[1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [7]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = []

for element in list1:
    if element in list2:
        common_elements.append(element)

print(common_elements)

[3, 4, 5]

22. Find the difference between two lists.

In [8]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

difference = []

for element in list1:
    if element not in list2:
        difference.append(element)

print(difference)

[1, 2]

23. Merge two lists.

In [9]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [12]:
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [13]:
list1=[1,5,4,2,3,6,9,8,7]
new_list=[x*2 for x in list1]
new_list

[2, 10, 8, 4, 6, 12, 18, 16, 14]

25. Filter out all even numbers from a list.

In [14]:
list1=[1,5,4,2,3,6,9,8,7]
even_list=[x for x in list1 if x%2!=0]
even_list

[1, 5, 3, 9, 7]

26. Convert a list of strings to a list of integers.

In [15]:
list1=['10','20','30','40','50']
int_list = [int(x) for x in list1]
int_list

[10, 20, 30, 40, 50]

27. Convert a list of integers to a list of strings.

In [16]:
int_list = [1, 5, 4, 2, 3, 6, 9, 8, 7]

In [17]:
string_list = [str(x) for x in int_list]

print(string_list)

['1', '5', '4', '2', '3', '6', '9', '8', '7']

28. Flatten a nested list.

In [19]:
def flatten_list(nested_list):
    flattened = []
    for item in nested_list:
        if isinstance(item, list):
            flattened.extend(flatten_list(item))
        else:
            flattened.append(item)
    return flattened

flattened_list = flatten_list(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [20]:

fibonacci_numbers = [0, 1]

for _ in range(8):
    next_fibonacci = fibonacci_numbers[-1] + fibonacci_numbers[-2]
    fibonacci_numbers.append(next_fibonacci)

print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [22]:
def is_sorted(lst):
    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:
            return False
    return True


my_list = [1, 2, 3, 4, 5]
if is_sorted(my_list):
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.

31. Rotate a list to the left by `n` positions.

In [2]:
def rotate_left(lst, n):
    if len(lst) == 0:
        return lst

    n = n % len(lst) 

    return lst[n:] + lst[:n]


original_list = [1, 2, 3, 4, 5]
n = 3
rotated_list = rotate_left(original_list, n)
print(rotated_list)

[4, 5, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [4]:
def rotate_right(lst, n):
    if len(lst) == 0:
        return lst

    n = n % len(lst)  

    return lst[-n:] + lst[:-n]


original_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_right(original_list, n)
print(rotated_list)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [5]:
def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

primes = [2, 3, 5, 7]  # Initial prime numbers
for num in range(11, 51):
    if is_prime(num):
        primes.append(num)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [6]:
def split_into_chunks(lst, n):
    if n <= 0:
        return [lst]  # Return the original list as a single chunk if n is less than or equal to 0

    chunks = [lst[i:i + n] for i in range(0, len(lst), n)]
    return chunks

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3
result = split_into_chunks(my_list, chunk_size)
print(result)  # Output: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list

In [7]:
list1=[3, 1, 7, 5, 7, 2, 8]

In [8]:
if len(list1) <=2 :
    print(" list has less than 2 elements")

In [9]:
sort_number=sorted(set(list1))

In [10]:
second_largest =sort_number[-2]

In [11]:
second_largest

7

36. Replace every element in a list with its square.

In [12]:
list1=[1,2,3,4,5]
new_list=[x*2 for x in list1]
new_list

[2, 4, 6, 8, 10]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [15]:
list1=['apple','banana','cherry','date']
dict1={element: index for index, element in enumerate(list1)}
dict1

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

38. Shuffle the elements of a list randomly.

In [18]:
import random
list1=[1,22,3,4,5,6]
random.shuffle(list1)
list1

[5, 4, 22, 1, 6, 3]

39. Create a list of the first 10 factorial numbers.

In [19]:
def factorial(n):
    if n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result

factorial_numbers = [factorial(n) for n in range(10)]

print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [20]:
list1=[1,2,3,4,5,6,7]
list2=[1,4,7,2,5,8,3,6,9]

In [23]:
for x in list1:
    if x in list2:
        print("list containg at least one element in common")
        break
    else:
        print("list containg differnt element")
        break

list containg at least one element in common

41. Remove all elements from a list.

In [24]:
list=[9,8,7,6,5,4,3,2,1]

In [25]:
list.clear()
list

[]

42. Replace negative numbers in a list with 0.

In [2]:
list1=[8,-3,0,3,-5,2,-6,4,7,1,-7,1,-6]

In [5]:
for i in range(len(list1)):
    if list1[i]<0:
        list1[i]=0
print("Replace negative numbers in a list with 0.",list1)

Replace negative numbers in a list with 0. [8, 0, 0, 3, 0, 2, 0, 4, 7, 1, 0, 1, 0]

43. Convert a string into a list of words.

In [8]:
string="my name is vishal karhad"
word=string.split()
word

['my', 'name', 'is', 'vishal', 'karhad']

44. Convert a list of words into a string.

In [9]:
word_list = ["Hello,", "this", "is", "a", "sample", "sentence.",]
my_string = " ".join(word_list)
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

45. Create a list of the first `n` powers of 2.

In [10]:
n = 5
power_list = [2 ** i for i in range(n)]
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [11]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
print("Longest string:", longest_string)

Longest string: elderberry

47. Find the shortest string in a list of strings.

In [12]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
print("Shortest string:", shortest_string)

Shortest string: date

48. Create a list of the first `n` triangular numbers.

In [13]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 5
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [14]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

50. Swap two elements in a list by their indices.

In [15]:
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5

In [1]:
my_tuple =(1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [2]:
my_tuple =(1,2,3,4,5)
my_tuple[2]

3

3. Find the length of a tuple without using the `len()` function.

In [4]:
my_tuple =(1,2,3,4,5)
count=0
for x in my_tuple:
    count+=1
print(count)

5

4. Count the occurrences of an element in a tuple

In [3]:
my_tuple =(1,2,3,4,5,3,5,3)
count=0
element_to_count=3
for x in my_tuple:
    if x == element_to_count :
         count+=1
print(f"{element_to_count} is present {count} time")

3 is present 3 time

5. Find the index of the first occurrence of an element in a tuple

In [5]:
my_tuple = (10, 20, 30, 40, 50, 20)  
element_to_find = 30
index = my_tuple.index(element_to_find)

print(f"The first occurrence of {element_to_find} is at index {index}")

The first occurrence of 30 is at index 2

6. Check if an element exists in a tuple.

In [10]:
my_tuple =(1,2,3,4,5)
check_element=int(input("Enter any value to check"))
if check_element in my_tuple:
    print("element exists in tuple")
else:
    print("element does not exists in tuple")

Enter any value to check 8

element does not exists in tuple

7. Convert a tuple to a list

In [12]:
my_tuple =(1,2,3,4,5)
list1=list(my_tuple)
print(list1)

[1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [13]:
my_list=[1,2,3,4,5,6]
tuple1=tuple(my_list)
tuple1

(1, 2, 3, 4, 5, 6)

9. Unpack the elements of a tuple into variables.

In [14]:
my_tuple=(4,5,9)
a,b,c=my_tuple
print("first_variable :",a)
print("second_variable :",b)
print("third_variable :",c)

first_variable : 4
second_variable : 5
third_variable : 9

10. Create a tuple of even numbers from 1 to 10

In [16]:
list1=[x for x in range(2,10,2)]
my_tuple=tuple(list1)
my_tuple

(2, 4, 6, 8)

11. Create a tuple of odd numbers from 1 to 10.

In [17]:
list1=[x for x in range(1,10,2)]
my_tuple=tuple(list1)
my_tuple

(1, 3, 5, 7, 9)

12. Concatenate two tuples

In [19]:
tuple1=(1,2,3)
tuple2=(4,5,6)
join_tuple=tuple1+tuple2
print(join_tuple)

(1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times

In [20]:
my_tuple =(1,2,3,4,5)
new_tuple=3*my_tuple
new_tuple

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [25]:
my_tuple=(1,5,4,6)
if not my_tuple:
    print(my_tuple," is  empty")
else:
    print(my_tuple," is not empty")

(1, 5, 4, 6)  is not empty

15. Create a nested tuple.

In [26]:
nested_tuple=((1,2,3),('a','b','c'),(True,False))
print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [29]:
nested_tuple=((1,2,3),('a','b','c'),(True,False))
first_element=nested_tuple[0]
print("first element of nested element id :",first_element)

first element of nested element id : (1, 2, 3)

17. Create a tuple with a single element.

In [33]:
my_tuple=(1,)
print(type(my_tuple))
print("tuple containing single element",my_tuple)

<class 'tuple'>
tuple containing single element (1,)

18. Compare two tuples.

In [35]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

In [36]:
print("tuple1 == tuple2:", tuple1 == tuple2) 
print("tuple1 != tuple2:", tuple1 != tuple2) 
print("tuple1 < tuple2:", tuple1 < tuple2)    
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)   
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [43]:
my_tuple=(1,5,4,6)
del my_tuple

20. Slice a tuple

In [44]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple = my_tuple[2:6]
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

21. Find the maximum value in a tuple.

In [45]:
my_tuple = (10, 20, 5, 45, 30)
max_value = max(my_tuple)
print("Maximum value:", max_value)

Maximum value: 45

22. Find the minimum value in a tuple.

In [46]:
my_tuple = (10, 20, 5, 45, 30)
min_value = min(my_tuple)
print("Maximum value:", min_value)

Maximum value: 5

23. Convert a string to a tuple of characters.

In [47]:
my_string = "Hello, World!"
tuple_of_characters = tuple(my_string)
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string

In [48]:
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')
string_from_tuple = ''.join(tuple_of_characters)
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

25. Create a tuple from multiple data types.

In [49]:
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [50]:
tuple1 = (1, "hello", 3.14, True)
tuple2 = (10, 20, 5, 45, 30)
if tuple1==tuple2:
    print("two tuples are identical.")
else:
    print("not identical")

not identical

27. Sort the elements of a tuple.

In [53]:
tuple1 = (10, 20, 5, 45,4,8,6,18,19)
print(tuple(sorted(tuple1)))

(4, 5, 6, 8, 10, 18, 19, 20, 45)

28. Convert a tuple of integers to a tuple of strings.

In [54]:
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [56]:
Tuple_of_strings: ('1', '2', '3', '4', '5')
tuple_of_integer = tuple(int(item) for item in tuple_of_strings)
print("Tuple of integer:", tuple_of_integer)

Tuple of integer: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [57]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [1]:
def flatten_tuple(nested_tuple):
    flat_list = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flat_list.extend(flatten_tuple(item))
        else:
            flat_list.append(item)
    return tuple(flat_list)

nested_tuple = ((1, 2), (3, (4, 5)), 6, (7,))


flattened_tuple = flatten_tuple(nested_tuple)

print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7)

32. Create a tuple of the first 5 prime numbers.

In [2]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [3]:
def is_palindrome_tuple(input_tuple):
    return input_tuple == input_tuple[::-1]

# Example tuples
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome_tuple(palindrome_tuple)
is_palindrome2 = is_palindrome_tuple(non_palindrome_tuple)

print("Is the first tuple a palindrome?", is_palindrome1)
print("Is the second tuple a palindrome?", is_palindrome2)

Is the first tuple a palindrome? True
Is the second tuple a palindrome? False

34. Create a tuple of squares of numbers from 1 to 5.

In [4]:
squares_tuple = tuple(x**2 for x in range(1, 6))
squares_tuple

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [5]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)
print(filtered_tuple)

(1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [6]:
original_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(x * 2 for x in original_tuple)
print(doubled_tuple)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers

In [7]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(random_tuple)

(42, 29, 62, 9, 76)

38. Check if a tuple is sorted.

In [8]:
def is_sorted_tuple(input_tuple):
    for i in range(1, len(input_tuple)):
        if input_tuple[i] < input_tuple[i - 1]:
            return False
    return True

# Example tuples
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 2, 4)

# Check if the tuples are sorted
is_sorted1 = is_sorted_tuple(sorted_tuple)
is_sorted2 = is_sorted_tuple(unsorted_tuple)

print("Is the first tuple sorted?", is_sorted1)
print("Is the second tuple sorted?", is_sorted2)

Is the first tuple sorted? True
Is the second tuple sorted? False

39. Rotate a tuple to the left by `n` positions.

In [9]:
def rotate_tuple_left(input_tuple, n):
    n = n % len(input_tuple)  # Ensure n is within the range of the tuple length
    rotated_tuple = input_tuple[n:] + input_tuple[:n]
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Rotate the tuple to the left by 2 positions
rotated = rotate_tuple_left(my_tuple, 2)

print(rotated)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [10]:
def rotate_tuple_right(input_tuple, n):
    n = n % len(input_tuple)  
    rotated_tuple = input_tuple[-n:] + input_tuple[:-n]
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
rotated = rotate_tuple_right(my_tuple, 2)
print(rotated)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [11]:
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the first two Fibonacci numbers
    while len(fibonacci) < n:
        next_fib = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_fib)
    return tuple(fibonacci)

# Generate a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input:

In [12]:
user_input = input("Enter elements separated by spaces: ")
user_tuple = tuple(user_input.split())
print(user_tuple)

Enter elements separated by spaces:  4 5 8 7

('4', '5', '8', '7')

43. Swap two elements in a tuple:

In [13]:
my_tuple = (1, 2, 3, 4, 5)
list_form = list(my_tuple)
list_form[1], list_form[3] = list_form[3], list_form[1]
swapped_tuple = tuple(list_form)
print(swapped_tuple)

(1, 4, 3, 2, 5)

44. Reverse the elements of a tuple:

In [14]:
original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = original_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

45. Create a tuple of the first n powers of 2:

In [15]:
n = 5
powers_of_2 = tuple(2**i for i in range(n))
print(powers_of_2)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings:

In [17]:
strings_tuple = ("apple", "banana", "cherry", "date")
longest_string = max(strings_tuple, key=len)
print(longest_string)

banana

47. Find the shortest string in a tuple of strings:

In [18]:
strings_tuple = ("apple", "banana", "cherry", "date")
shortest_string = min(strings_tuple, key=len)
print(shortest_string)

date

48. Create a tuple of the first n triangular numbers:

In [19]:
n = 5
triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print(triangular_numbers)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence:

In [20]:
main_tuple = (1, 2, (3, 4), 5, 6)
subsequence = (3, 4)
if all(item in main_tuple for item in subsequence):
    print("The subsequence is present in the main tuple.")
else:
    print("The subsequence is not present in the main tuple.")

The subsequence is not present in the main tuple.

50. Create a tuple of alternating 1s and 0s of length n:

In [21]:
n = 7
alternating_tuple = tuple(i % 2 for i in range(1, n + 1))
print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5

In [23]:
my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

2. Add an element to a set:

In [24]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set:

In [1]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
my_set

{1, 2, 4, 5}

4. Check if an element exists in a set:

In [2]:
my_set = {1, 2, 3, 4, 5}
element = 4
if element in my_set:
    print(f"{element} exists in the set.")

4 exists in the set.

5. Find the length of a set without using the len() function:

In [5]:
my_set = {1,2,3,4,5}
count=0
for _ in my_set:
    count +=1
print(count)

5

6. Clear all elements from a set:

In [6]:
my_set = {1,2,3,4,5}
my_set.clear()
my_set

set()

7. Create a set of even numbers from 1 to 10:

In [7]:
even_set = set(range(2, 11, 2))
even_set

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10:

In [8]:
odd_set = set(range(1, 11, 2))
odd_set

{1, 3, 5, 7, 9}

9. Find the union of two sets:

In [9]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5}

10. Find the intersection of two sets:

In [10]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
intersection_set

{3}

11. Find the difference between two sets:

In [11]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
difference_set

{1, 2}

12. Check if a set is a subset of another set:

In [16]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
if set1.issubset(set2):
    print("set1 is a subset of set2.")

13. Check if a set is a superset of another set:

In [18]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
if set1.issuperset(set2):
    print("set1 is a superset of set2.")

set1 is a superset of set2.

14. Create a set from a list:

In [20]:
my_list = [1, 2, 3, 4, 5]
set_from_list = set(my_list)
set_from_list

{1, 2, 3, 4, 5}

15. Convert a set to a list:

In [22]:
my_set={1,2,3,4,5}
list_from_set = list(my_set)
list_from_set

[1, 2, 3, 4, 5]

16. Remove a random element from a set:

In [24]:
import random

my_set = {1, 2, 3, 4, 5}
element = random.choice(tuple(my_set))
my_set.remove(element)
my_set

{1, 2, 4, 5}

17. Pop an element from a set:

In [27]:
my_set={1,2,3,4,5}
pop_element=my_set.pop()
pop_element

1

18. Check if two sets have no elements in common:

In [29]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if not set1.isdisjoint(set2):
    print("The sets have elements in common.")
else:
    print("the sets have diffenrent element")

the sets have diffenrent element

19. Find the symmetric difference between two sets:

In [32]:
set1 = {1, 2, 3}
set2 = {4, 5, 6,3}
symmetric_difference_set = set1.symmetric_difference(set2)
symmetric_difference_set

{1, 2, 4, 5, 6}

20. Update a set with elements from another set:

In [33]:
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6}

21. Create a set of the first 5 prime numbers:

In [34]:
prime_set = {2, 3, 5, 7, 11}
prime_set

{2, 3, 5, 7, 11}

22. Check if two sets are identical:

In [35]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical")

The sets are not identical

23. Create a frozen set:

In [36]:
my_set={1,2,3,4,5}
my_frozen_set = frozenset(my_set)
my_frozen_set

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set:

In [38]:
if set1.isdisjoint(set2):
    print("The sets have no elements in common.")
else:
    print("the sets have common element")

The sets have no elements in common.

25. Create a set of squares of numbers from 1 to 5:

In [39]:
squares_set = {x**2 for x in range(1, 6)}
squares_set

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set:

In [40]:
my_set = {1, 2, 3, 4, 5}
my_set = {x for x in my_set if x % 2 != 0}
my_set

{1, 3, 5}

27. Multiply all elements in a set by 2:

In [43]:
my_set = {1, 2, 3, 4, 5}
my_set = {x * 2 for x in my_set}
my_set

{2, 4, 6, 8, 10}

28. Create a set of random numbers:

In [45]:
import random

random_set = set(random.randint(1, 100) for _ in range(5))
random_set

{23, 36, 60, 61, 96}

29. Check if a set is empty:

In [46]:
my_set = {1, 2, 3, 4, 5}
if not my_set:
    print("The set is empty.")
else:
    print("The set is  not empty.")

The set is  not empty.

30. Create a nested set (hint: use frozenset):

In [47]:
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
nested_set

{frozenset({3, 4}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [48]:
my_set = {1, 2, 3, 4, 5}
element_to_remove = 3

my_set.discard(element_to_remove)

print(my_set)

{1, 2, 4, 5}

32. Compare two sets:

In [49]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
if set1 == set2:
    print("The sets are equal.")
else:
    print:("sets are not equal")

The sets are equal.

33. Create a set from a string:

In [50]:
my_string = "hello"
string_set = set(my_string)
string_set

{'e', 'h', 'l', 'o'}

34. Convert a set of strings to a set of integers:

In [51]:
string_set = {"1", "2", "3"}
int_set = {int(x) for x in string_set}
int_set

{1, 2, 3}

35. Convert a set of integers to a set of strings:

In [52]:
int_set = {1, 2, 3}
string_set = {str(x) for x in int_set}
string_set

{'1', '2', '3'}

36. Create a set from a tuple:

In [53]:
my_tuple = (1, 2, 3, 4, 5)
tuple_set = set(my_tuple)
tuple_set

{1, 2, 3, 4, 5}

37. Convert a set to a tuple:

In [54]:
set1 = {1, 2, 3}
tuple1 = tuple(set1)
tuple1

(1, 2, 3)

38. Find the maximum value in a set:

In [55]:
my_set={45,96,42,36,49,78}
max_value = max(my_set)
max_value

96

39. Find the minimum value in a set:

In [56]:
my_set={45,96,42,36,49,78}
min_value = min(my_set)
min_value

36

40. Create a set from user input:

In [58]:
user_input = input("Enter elements separated by spaces: ")
user_set = set(user_input.split())
user_set

Enter elements separated by spaces:  4 5 1 2 4 5 6 4

{'1', '2', '4', '5', '6'}

41. Check if the intersection of two sets is empty:

In [60]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
if not set1.isdisjoint(set2):
    print("The sets have elements in common.")

The sets have elements in common.

42. Create a set of the first 5 Fibonacci numbers:

In [61]:
fibonacci_set = {0, 1, 1, 2, 3}
fibonacci_set

{0, 1, 2, 3}

43. Remove duplicates from a list using sets:

In [62]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
unique_list

[1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count:

In [63]:
if set1 == set2:
    print("The sets have the same elements.")

The sets have the same elements.

45. Create a set of the first n powers of 2:

In [64]:
n = 5
powers_of_2_set = {2**i for i in range(n)}
powers_of_2_set

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list:

In [65]:
common_elements = set1.intersection(set(my_list))
common_elements

{1, 2, 3}

47. Create a set of the first n triangular numbers:

In [67]:
n = 5
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}
triangular_numbers_set

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset:

In [68]:
set1 = {1, 2, 3, 4, 5}
subset = {3, 4}
if subset.issubset(set1):
    print("subset is contained in set1.")

subset is contained in set1.

49. Create a set of alternating 1s and 0s of length n:

In [77]:
n = 7
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
alternating_set

{0, 1}

50. Merge multiple sets into one:

In [78]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
merged_set

{1, 2, 3, 4, 5, 6, 7}